label[id="lblitemname"]
{
	font-size: 35px;
}

body
{
    background-color: #faebd4;
    font-family:Times New Roman;
    /*margin: 0;*/
    /*padding: 0;*/
}

header
{
    padding: 20px;
    background: #6bb5f1;
}

table
{
    margin: auto;
    border-collapse: collapse;
}

table[id="Item"]
{
	border: 1px solid black;
	border-collapse: collapse;
}

th, td
{
	border-collapse: collapse;
    text-align: center;
}

th[id="itemname"]
{
	background-color: #f1f8e9;
}

td[id="image"], [id="orderinfo"], [id="additionalInfo"], [id="information"]
{
	border: 1px solid black;
    background-color: #e0f7fa;
    padding: 20px;
}

th[id="thhawkzon"]
{
	width:100%;
	text-align:center;
	font-size:50px;
}

label
{
	font-size: 18px;
}

label[id="lblprice"], [id="lblstock"]
{
	font-size: 30px;
	color:green;
}

label[id="lblnum"], [id="lblcolor"], [id="lbLremarks"], [id="lbliteminfo"]
{
	font-size: 23px;
}

button
{
	background-color: #3f51b5;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border-radius: 12px;
    background-color: #5c6bc0;
    color: white;
    border-color: white;
}

button[id="btnred"]
{
	background-color: #c1221a;
}

button[id="btnblue"]
{
	background-color: #323faf;
}

button[id="btnblack"]
{
	background-color: black;
}

button[id="btnpink"]
{
	background-color: #fb0fa8;
}

button[id="btngreen"]
{
	background-color: green;
}

button[id="btnorange"]
{
	background-color: #f98606;
}

button[id="btnyellow"]
{
	background-color: #fde302;
}

button[id="btnpurple"]
{
	background-color: purple;
}

button[id="btnwhite"]
{
	background-color: #c6cace;
} 

input[type="number"], input[type="text"]
{
    width: 80%;
    padding: 8px;
    font-size: 16px;
}

input[type="number"]
{
    width: 60%;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li
{
    font-size: 16px;
}

/*
nav h2, h3
{
    font-size: 24px;
}
*/

nav ul
{
    padding: 0;
    list-style-type: none;
}


nav ul li
{
	font-size: 18px;
    text-decoration: none;
    color: #3f51b5;
}
